---
---

body
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif

// Masthead
.masthead
    // background-image: url("https://cdn.snorv.art/misc/banner-nov-2020/banner-nov-2020-compressed.jpg")
    background-color: #999d0f
    background-position: left -20%
    height: 20vh
    width: 100%
    background-size: cover
    background-origin: padding-box
    position: relative
    padding: 1em
    color: #ffffff

    .masthead-links
        p
            display: inline-block
            vertical-align: top
            padding-right: 1em

        a
            color: inherit

        a:visited
            text-decoration: none

        a:hover
            text-decoration: none

    // Masthead title
    .masthead-title
        position: absolute
        bottom: 0%
        letter-spacing: 4px
        margin-bottom: 1em

.content
    padding: 30px

.post
    margin-bottom: 30px

    // Title link in post card
    &-title
        color: #000000

    &-title:hover:visited
        color: #77c571

    // Image on /post page 
    &-image-container
        justify-content: center
        display: flex
        margin-bottom: 30px
