---
---

$link-hover-color: #77c571

body
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif

.masthead
    background-color: #702942
    width: 100%
    background-size: cover
    background-origin: padding-box
    position: relative

    padding: 2em

    color: #ffffff

    .masthead-links
        a
            color: #ffffff
            text-decoration: none

            display: inline-block
            margin-right: 1em
            margin-bottom: 2em

        a :hover
            color: $link-hover-color

        // a
            // color: inherit
            // text-decoration: none

.masthead-title
    letter-spacing: 0.25em

div[class*="container"]
    margin: 2em

    // padding-left: 0em
    // padding-right: 0em
    // padding-top: 2em
    padding-bottom: 2em

div[class*="col-"]
    padding-left: 1em
    padding-right: 1em

div[class*="row"]
    --bs-gutter-x: 2em
    // padding-right: 1em

.post
    margin-bottom: 2em

    // Title link in post card
    &-title
        color: #000000

    &-title:hover:visited
        color: $link-hover-color

// 15em is derived from the padding/margin/text elements in the header
// I guessed until it looked right
.img-magic
    max-height: calc(100vh - 15em)
    max-width: 100%
    padding-bottom: 2em
