---
---

$link-hover-color: #77c571

body
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif

a
  text-decoration: none
  &:hover
    color: $link-hover-color

.masthead
  background-color: #702942
  width: 100%
  background-size: cover
  background-origin: padding-box
  position: relative

  padding: 2em

  color: #ffffff

  .links
    display: flex
    margin-bottom: 1em

    a
      display: inline-block
      color: inherit
      margin-right: 2em

    a:hover
      color: $link-hover-color

.masthead-title
  letter-spacing: 0.25em

div[class*="container"]
  padding: 2em
  padding-bottom: 0em

div[class*="row"]
  --bs-gutter-x: 2em

.post
  margin-bottom: 2em

  // Title link in post card
  &-title
    color: inherit

// 15em is derived from the padding/margin/text elements in the header
// I guessed until it looked right
.img-magic
  max-height: calc(100vh - 16em)
  max-width: 100%
  margin-bottom: 2em
