<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include banner.html %}

  <div class="container-fluid">

    <div class="row">

      {% comment %} Image Column {% endcomment %}
      <div class="col-lg-6 text-center">
        <img
          id="post-image"
          src="
          {% if page.hiQualPath contains 'https://' %}
          {{ page.hiQualPath }}
          {% else %}
          {{ site.s3 }}{{ page.hiQualPath }}
          {% endif %}
          "
          class="img-magic float-lg-end"
        >
      </div>

      {% comment %} Text Column {% endcomment %}
      <div class="col-lg-6 text-lg-start text-center">
        <h1 class="display-5">{{ page.title }}</h1>

        {% comment %}
        <!-- <p class="text-muted">
          Posted on
          {% assign day = page.date | date: "%-d" %}
          {% case day %}
          {% when '1' or '21' or '31' %}{{ day }}st
          {% when '2' or '22' %}{{ day }}nd
          {% when '3' or '23' %}{{ day }}rd
          {% else %}{{ day }}th
          {% endcase %}
          {{ page.date | date: "%B, %Y" }}
        </p> -->
        {% endcomment %}

        <p>{{ page.description }}</p>

        {% if page.productId %}
        <a
          class="shopify-link"
          href="https://shop.jamesalistair.art/cart/{{ page.productId }}"
        >
          <p>Click here to purchase this piece</p>
        </a>
        {% endif %}
      </div>

    </div>

  </div>

  {% include footer.html %}
</body>

</html>