<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include banner.html %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-6 text-center">
        <img
          id="post-image"
          src="{{ site.s3 }}{{ page.hiQualPath }}"
          class="img-magic float-xl-end"
        >
      </div>

      <div class="col-xl-6">
        <div>
          <h1>{{ page.title }}</h1>
        </div>

        <p class="text-muted">
          Posted on
          {% assign day = page.date | date: "%-d" %}
          {% case day %}
          {% when '1' or '21' or '31' %}{{ day }}st
          {% when '2' or '22' %}{{ day }}nd
          {% when '3' or '23' %}{{ day }}rd
          {% else %}{{ day }}th
          {% endcase %}
          {{ page.date | date: "%B, %Y" }}
        </p>

        <div class="text-muted">
          <p>{{ page.description }}</p>
        </div>
      </div>

    </div>

  </div>

  {% include footer.html %}
</body>

</html>